<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iRanch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84455E931CD1A4E500A857F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84455EAC1CD1A4E600A857F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84455EB71CD1A4E600A857F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
